.container {
  margin: auto;
  background-color: #3166e0;
  height: 217px;
  width: 350px;
  color: white;
  border-radius: 5px;
  padding-top: 0.2em;
  z-index: -1;
  font-family: monospace;
  font-size: 15px;
}
.heading {
  font-weight: bold;
}
.inner-heading,
.heading {
  margin: 1px 0px 2px 5px;
}
.iconsgroup {
  font-weight: bold;
  display: inline-block;
  margin-top: -45px;
  /* margin-bottom: 6px; */
  margin-left: 18.7rem;
}
.inner-container {
  background-color: rgb(243, 243, 243);
  height: 186px;
  width: 344px;
  margin-left: 3px;
  color: black;
  position: relative;
  top: -10px;
}

.cancel {
  background-color: rgb(240, 125, 125);
}
.show {
  margin: 0 10px;
  border: 1px solid rgb(224, 224, 224);
}
.icons {
  border: 1px solid white;
  padding: 0 0.1rem;
  margin-top: 23px;
  float: left;
  border-radius: 2px;
}

input[type="text"] {
  margin-left: 5px;
  height: 110px;
  width: 230px;
  border: 0.2px solid rgb(102, 102, 201);
}
.close {
  margin-left: 10rem;
  border: 0.3px solid rgb(84, 84, 177);
}
button {
  border-radius: 4px;
  padding: 0.2rem 1.3rem;
  background-color: rgb(250, 250, 250);
}
.subcontainer {
  position: absolute;
  float: left;
}
.nsubcontainer {
  width: 50px;
  margin-left: 16rem;
}
.nsubcontainer button {
  padding: 0;
  border: 2px solid rgb(109, 109, 209);
  margin-top: 8px;
}
.nsubcontainer i {
  padding: 0.1em 1.12rem;
  display: inline-block;
  border: 0.2px dotted rgb(56, 56, 109);
}
.nsubcontainer .disabled {
  border: 1px solid rgb(224, 224, 224);
  padding: 0.2em 1.3rem;
}
.remove {
  padding: 0.2em 0.9em !important;
}
