.active {
  border-bottom: 4px solid #0000ff !important;
}
.searchtoggle {
  z-index: 10;
  margin-left: 9.1rem !important;
  margin-top: 10px;
}
.btn {
  background-color: rgba(246, 245, 245, 0.637);
  color: black !important;
}
.bg-info1 {
  background-color: rgba(164, 232, 236, 0.295);
}
.select {
  border: none;
  background-color: transparent;
}
.btn11 {
  background-color: rgba(209, 209, 209, 0.829);
}
.btn-check {
  background-color: rgba(211, 211, 211, 0.479);
}
.buttons {
  float: right;
  margin-top: -44px;
  margin-left: 61em;
}
.fonts1 {
  width: 13.5em;
  font-size: 13px;
}
.fonts2 {
  width: 10em;
  font-size: 13px;
}
.btn-group {
  margin-left: 14em;
}
.secndnav {
  margin-left: -13em !important;
}
.searchi {
  margin-left: 17.8em !important;
}
.switch {
  margin-left: 10.192em;
}
.d-inline-block{
    border-radius: 50%;
}
@media screen and (max-width: 1060px) {
  .btn-group {
    margin-left: 0;
    margin-top: 3em;
  }
  .searchi {
    margin-left: 2em !important;
  }
  .secndnav {
    overflow: auto;
  }
  .buttons {
    margin-top: 40px !important ;
    margin-left: 0rem;
  }
  .secndnav {
    margin-left: 0px !important;
    font-size: 10px !important;
    padding: 0 !important;
  }
  .switch {
    margin-left: 1em;
  }
  .buttons {
    float: right;
    margin-top: 2em;
  }
}
